.headercontainer{
    padding:10px;
    background-color: grey;
}

header{
    margin-bottom: 15px;
}

.filterContainer{
    width:25%;
    border:solid 1px black;
    display:inline-block;
}

.cafeOverview{
    width:73%;
    border:solid 1px black;
    display:inline-block;
}