.headercontainer{
    padding:10px;
    background-color: grey;
}

header{
    margin-bottom: 15px;
}

.filterContainer{
    width:30%;
    border:solid 1px black;
    display:inline-block;
    vertical-align: top;
    position: sticky;
    
}

.cafeOverview{
    width:68%;
    border:solid 1px black;
    display:inline-block;
}

.cafeImage{
    width:80%;
}

.cafeImageContainer{
    display:inline-block;
    width:45%;
    
}

.cafeInfoContainer{
    display:inline-block;
    width:50%;
}